table {
  border-collapse: collapse;
  margin: auto;
  color:white;

  caption {
    color: black;
    margin-bottom: 0.5rem;
  }
}
td, th {
  border: 1px solid black;
  padding:0.5rem;
}
td {
  height: 1lh;
}
td:nth-of-type(odd), th:nth-of-type(even) {
  background-color:green;
}
td:nth-of-type(even), th:nth-of-type(odd) {
  background-color: red;
}